{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/uploads.css">
  <title>File Upload</title>
</head>
<body>
  <div class="uploadcontent">
    <div class="upload-text">UPLOAD FILE</div>
    <form action= "/files/{{id}}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ formfile }}
      <button class="upload">Upload!</button>
    </form>
  </div>
</body>
</html>